<section class="user">
    <h1><%=@user.name%></h1>
    <h2><%=mail_to(@user.email)%></h2>
<div class = "action">
<%if session[:user_id] == @user.id%>
    <%= link_to "Edit Account", edit_user_path(@user), class: "button" %>
    <%= button_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
</div>
<%end%>
<%if @registrations.present?%>
<h3>Registrations</h3>
<% @registrations.each do |r| %>
<div class="registrations">
<div class = "image">
<%= link_to image_tag(r.event.image_file_name), r.event%>
</div>
<div class = "name">
<%= link_to r.event.name, r.event%>
</div>
<div class = "date">
<%= time_ago_in_words(r.created_at)%> ago
</div>
</div>
<%end%>
</section>
<%end%>
<%if @liked_events.present?%>
    <h3>Liked Events</h3>
    <div class="liked-events">
        <% @liked_events.each do |event|%>
        <%= link_to image_tag(event.image_file_name), event%>
        <%end%>
    </div>
<%end%>

