<header>
  <nav>
    <%= link_to image_tag("logo.png"), root_path %>
    <ul class="left">
      <li>
        <%= link_to "Upcoming Events", filtered_events_path(:upcoming) %>
      </li>
      <li>
        <%= link_to "Free Events", filtered_events_path(:free) %>
      </li>
      <li>
        <%= link_to "Recent Events", filtered_events_path(:recent) %>
      </li>
      <li>
        <%= link_to "Past Events", filtered_events_path(:past) %>
      </li>
    </ul>
    <ul class="right">
      <% if session[:user_id]%>
        <li><%= button_to "Sign out", session_path, method: :delete, class: "button"%></li>
        <li><%= link_to current_user.name, user_path(current_user)%></li>
      <%else%>
        <li><%= link_to "Sign Up", signup_path, class: "button"%></li>
        <li><%= link_to "Sign In", new_session_path, class: "button"%></li>
      <%end%>
    </ul>
  </nav>
</header>